@model Trading_company.Models.ManagerModel
@{
    ViewData["Title"] = "Регистрация";
}
<div class="container d-flex justify-content-center">
    <div class="col-4">
        <form asp-controller="Manager" asp-action="SignUp">
            <div class="row">
                <label class="d-flex justify-content-center">@ViewData["Title"]</label>
            </div>
            <div class="row">
                <table>
                    <tr>
                        <td>
                            <label asp-for="fullname">ФИО*</label>
                        </td>
                        <td>
                            <input type="text" asp-for="fullname" value=@ViewData["Man_fullname"] />
                        </td>
                        <td>
                            <label class="bg-danger">@ViewData["Error_fullname"]</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="email">Почта*</label>
                        </td>
                        <td>
                            <input type="text" asp-for="email" value=@ViewData["Man_email"] />
                        </td>
                        <td>
                            <label class="bg-danger">@ViewData["Error_email"]</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="password">Пароль*</label>
                        </td>
                        <td>
                            <input type="password" asp-for="password" value=@ViewData["Man_password"] />
                        </td>
                        <td>
                            <label class="bg-danger">@ViewData["Error_password"]</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="percent">%*</label>
                        </td>
                        <td>
                            <input type="number" min="0" max="50" asp-for="percent" value=@ViewData["Man_percent"] />
                        </td>
                        <td>
                            <label class="bg-danger">@ViewData["Error_percent"]</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="parent_id">ID руководителя</label>
                        </td>
                        <td>
                            <input type="number" asp-for="parent_id" value=@ViewData["Man_leadid"] />
                        </td>
                        <td>
                            <label class="bg-danger">@ViewData["Error_leadid"]</label>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <input type="submit" value="Подтвердить" />
            </div>
            <div class="row bg-danger">
                @ViewData["Error"]
            </div>
        </form>
    </div>
</div>