@model Trading_company.ViewModels.ManagerViewModel
@{
    ViewData["Title"] = "Регистрация";
    int leadID = Convert.ToInt32(ViewData["Man_leadid"]);
}

<div class="d-flex justify-content-center">
    <div class="col-4 m-1">


        @*РЕГИСТРАЦИЯ МЕНЕДЖЕРА*@
        <form asp-controller="Manager" asp-action="SignUp">
            <div class="row m-1 bg-secondary bg-opacity-25">
                <h1 class="d-flex justify-content-center">@ViewData["Title"]</h1>
            </div>


            @*ФИО менеджера*@
            <div class="row m-1 bg-secondary bg-opacity-25">
                <b class="bg-secondary bg-opacity-50 required">ФИО</b>
                <div>
                    <input oninvalid="this.setCustomValidity('Пожалуйста, введите ФИО полностью и корректно')" oninput="setCustomValidity('')" required pattern="^[А-ЯЁ][а-яё]*([-][А-ЯЁ][а-яё]*)?\s[А-ЯЁ][а-яё]*\s[А-ЯЁ][а-яё]*$" maxlength="150" class="w-100 m-1" type="text" asp-for="Manager.man_fullname" value=@ViewData["Man_fullname"] />
                </div>
            </div>

         
            @*Почта*@
            <div class="row m-1 bg-secondary bg-opacity-25">
                <b class="bg-secondary bg-opacity-50 required">Почта</b>
                <div>
                    <input oninvalid="this.setCustomValidity('Пожалуйста, введите почту')" oninput="setCustomValidity('')" required class="w-100 m-1" type="email" asp-for="Manager.email" value=@ViewData["Man_email"] />
                </div>
            </div>


            @*Пароль*@
            <div class="row m-1 bg-secondary bg-opacity-25">
                <b class="bg-secondary bg-opacity-50 required">Пароль</b>
                <div>
                    <input oninvalid="this.setCustomValidity('Пожалуйста, введите пароль')" oninput="setCustomValidity('')" required minlength="8" pattern="\S+" title="Пароль должен быть не меньше 8 символов и без пробелов" class="w-100 m-1" type="password" asp-for="Manager.password" value=@ViewData["Man_password"] />
                </div>
            </div>


            @*Процент с продаж*@
            <div class="row m-1 bg-secondary bg-opacity-25">
                <b class="bg-secondary bg-opacity-50 required">Процент с продаж</b>
                <div>
                    <input oninvalid="this.setCustomValidity('Пожалуйста, введите Ваш желаемый процент с продаж')" oninput="setCustomValidity('')" required class="w-100 m-1" type="number" min="0" max="50" asp-for="Manager.percent" value=@ViewData["Man_percent"] />
                </div>
            </div>


            @*Руководитель*@
            <div class="row m-1 bg-secondary bg-opacity-25">
                <b class="bg-secondary bg-opacity-50">Руководитель</b>
                <div>
                    <select class="m-1" asp-for="Manager.lead_id">
                        <option value="">Выберите из доступных</option>
                        @foreach (var lead in Model.Leaders)
                        {
                            if (lead.man_id == leadID)
                            {
                                <option selected value="@lead.man_id">@lead.man_fullname#@lead.man_id</option>
                            }
                            else
                            {
                                <option value="@lead.man_id">@lead.man_fullname#@lead.man_id</option>
                            }
                        }
                    </select>
                </div>
            </div>


            <div class="row m-1 bg-secondary bg-opacity-25">
                <input type="submit" value="Подтвердить" />
            </div>
            <h4 class="row m-1 text-light bg-dark">@ViewData["Error"]</h4>
        </form>


    </div>
</div>